.focuslock-image-wrapper {
  position: relative;
}

.focuslock-image-wrapper.locked {
  opacity: 0.3;
}

.focuslock-ui > .cancel-focuslock,
.focuslock-ui > .save-focuslock {
  display: none;
}

.saved-message {
  display: none;
}

.focuslock-image-wrapper > img {
  cursor: crosshair;
  max-width: 100%;
}

.focuslock-dot {
  position: absolute;
  background: rgba(255,255,255,.3);
  border: 3px solid white;
  border-radius: 30px;
  transition: top .1s, left .1s;
  transition-timing-function: ease;
}