#focuslock-image-wrapper {
  position: relative;
}

#focuslock-image-wrapper > img {
  cursor: crosshair;
}

.focuslock-dot {
  position: absolute;
  background: blue;
  border-radius: 30px;
  opacity: .8;
}